apps/n8n-workflows/grafana-annotation-sync.json
{
  "name": "Grafana Annotation Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "grafana-annotations",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 300],
      "id": "annotation-webhook",
      "name": "Event Webhook",
      "webhookId": "grafana-annotations-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming event from webhook body\nconst input = $input.first().json;\n// Webhook node passes body directly in json for POST with JSON content-type\nconst event = input.body || input;\n\n// Detect event source and normalize\nlet annotationType = 'unknown';\nlet title = '';\nlet text = '';\nlet tags = [];\nlet time = Date.now();\n\n// ArgoCD webhook format\nif (event.app || event.metadata?.name) {\n  annotationType = 'argocd';\n  const app = event.app || event.metadata?.name || 'unknown';\n  const syncStatus = event.status?.sync?.status || event.syncStatus || 'Unknown';\n  const health = event.status?.health?.status || event.health || 'Unknown';\n  const revision = event.status?.sync?.revision?.slice(0, 7) || event.revision || 'N/A';\n  \n  title = `ArgoCD: ${app}`;\n  text = `Sync: ${syncStatus}, Health: ${health}, Rev: ${revision}`;\n  tags = ['argocd', 'deployment', app, syncStatus.toLowerCase()];\n}\n\n// VolSync backup event\nelse if (event.kind === 'ReplicationSource' || event.source === 'volsync') {\n  annotationType = 'volsync';\n  const pvc = event.spec?.sourcePVC || event.pvc || 'unknown';\n  const status = event.status?.lastSyncTime ? 'success' : 'in-progress';\n  const duration = event.status?.lastSyncDuration || 'N/A';\n  \n  title = `VolSync: ${pvc}`;\n  text = `Backup ${status}, Duration: ${duration}`;\n  tags = ['volsync', 'backup', pvc, status];\n}\n\n// System upgrade event\nelse if (event.kind === 'Plan' || event.source === 'system-upgrade') {\n  annotationType = 'upgrade';\n  const version = event.spec?.version || event.version || 'unknown';\n  const node = event.status?.applying || event.node || 'cluster';\n  \n  title = `System Upgrade: ${version}`;\n  text = `Upgrading ${node} to ${version}`;\n  tags = ['upgrade', 'talos', node];\n}\n\n// DNS change event\nelse if (event.source === 'external-dns' || event.source === 'technitium') {\n  annotationType = 'dns';\n  const record = event.dnsName || event.record || 'unknown';\n  const action = event.action || 'changed';\n  \n  title = `DNS: ${record}`;\n  text = `Record ${action}: ${event.targets?.join(', ') || event.target || 'N/A'}`;\n  tags = ['dns', 'external-dns', action];\n}\n\n// Generic event\nelse {\n  title = event.title || event.message || 'Event';\n  text = event.description || event.text || 'No description';\n  tags = event.tags || ['generic'];\n}\n\nif (event.timestamp) {\n  time = new Date(event.timestamp).getTime();\n}\n\n// Build Grafana annotation payload\nconst annotationPayload = {\n  dashboardUID: '*',\n  time: time,\n  timeEnd: time,\n  tags: tags,\n  text: `<b>${title}</b><br>${text}`\n};\n\nreturn {\n  json: {\n    annotationType,\n    title,\n    text,\n    tags,\n    time,\n    timeEnd: time,\n    dashboardUID: '*',\n    annotationPayload\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1000, 300],
      "id": "parse-event",
      "name": "Parse Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://grafana.observability.svc.cluster.local/api/annotations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.annotationPayload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-800, 300],
      "id": "create-annotation",
      "name": "Create Grafana Annotation",
      "credentials": { "httpHeaderAuth": { "id": "grafana-api", "name": "Grafana API" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, annotationType: $('Parse Event').first().json.annotationType, title: $('Parse Event').first().json.title }) }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-600, 300],
      "id": "respond-success",
      "name": "Respond Success"
    }
  ],
  "pinData": {},
  "connections": {
    "Event Webhook": { "main": [[{ "node": "Parse Event", "type": "main", "index": 0 }]] },
    "Parse Event": { "main": [[{ "node": "Create Grafana Annotation", "type": "main", "index": 0 }]] },
    "Create Grafana Annotation": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}

