apps/n8n-workflows/storj-node-metrics.json
{
  "name": "Storj Node Metrics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1400, 300],
      "id": "schedule-6h",
      "name": "Every 6 Hours"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtDay": 1, "triggerAtHour": 10 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1400, 500],
      "id": "schedule-weekly",
      "name": "Weekly Summary"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://storj.vaderrp.com/api/sno/",
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1200, 300],
      "id": "get-node-status",
      "name": "Get Node Status"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://storj.vaderrp.com/api/sno/satellites",
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1200, 500],
      "id": "get-satellites",
      "name": "Get Satellites"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [-1000, 400],
      "id": "wait-for-both",
      "name": "Wait For Both"
    },
    {
      "parameters": {
        "jsCode": "const nodeStatus = $('Get Node Status').first().json;\nconst satellites = $('Get Satellites').first().json?.audits || [];\n\n// Parse storage usage\nconst diskSpace = nodeStatus.diskSpace || {};\nconst usedGB = (diskSpace.used || 0) / (1024 ** 3);\nconst availableGB = (diskSpace.available || 0) / (1024 ** 3);\nconst totalGB = usedGB + availableGB;\nconst usagePercent = totalGB > 0 ? (usedGB / totalGB * 100).toFixed(1) : 0;\n\n// Parse bandwidth - use summary from audits data if available\nconst egressGB = (nodeStatus.egressSummary || nodeStatus.bandwidth?.used || 0) / (1024 ** 3);\nconst ingressGB = (nodeStatus.ingressSummary || 0) / (1024 ** 3);\n\n// Check satellite health\nconst satHealth = satellites.map(sat => {\n  const auditScore = sat.audit?.score || sat.auditScore || 1;\n  const suspensionScore = sat.suspension?.score || sat.suspensionScore || 1;\n  const onlineScore = sat.onlineScore || 1;\n  const isSuspended = sat.suspended || sat.disqualified || false;\n  \n  return {\n    name: sat.satelliteName?.replace(/:.*/, '') || 'Unknown',\n    auditScore: (auditScore * 100).toFixed(2),\n    suspensionScore: (suspensionScore * 100).toFixed(2),\n    onlineScore: (onlineScore * 100).toFixed(2),\n    isSuspended,\n    isHealthy: auditScore >= 0.995 && !isSuspended\n  };\n});\n\nconst unhealthySats = satHealth.filter(s => !s.isHealthy);\nconst hasCriticalIssue = satHealth.some(s => s.isSuspended || parseFloat(s.auditScore) < 99);\nconst hasWarning = satHealth.some(s => parseFloat(s.auditScore) < 99.5 || parseFloat(s.onlineScore) < 95);\n\nreturn {\n  json: {\n    usedGB: usedGB.toFixed(2),\n    totalGB: totalGB.toFixed(2),\n    usagePercent,\n    egressGB: egressGB.toFixed(2),\n    ingressGB: ingressGB.toFixed(2),\n    satelliteCount: satellites.length,\n    satHealth,\n    unhealthySats,\n    hasCriticalIssue,\n    hasWarning,\n    nodeId: nodeStatus.nodeID?.slice(0, 12) || 'Unknown',\n    version: nodeStatus.version || 'Unknown',\n    uptime: nodeStatus.startedAt ? (() => {\n      const ms = Date.now() - new Date(nodeStatus.startedAt).getTime();\n      const days = Math.floor(ms / 86400000);\n      const hours = Math.floor((ms % 86400000) / 3600000);\n      return `${days}d ${hours}h`;\n    })() : 'Unknown'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 400],
      "id": "parse-metrics",
      "name": "Parse Metrics"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "critical", "leftValue": "={{ $json.hasCriticalIssue }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-600, 300],
      "id": "has-issue",
      "name": "Has Critical Issue?"
    },
    {
      "parameters": {
        "jsCode": "const m = $('Parse Metrics').first().json;\n\n// Critical alert embed\nconst issues = m.unhealthySats.map(s => \n  `• **${s.name}**: Audit ${s.auditScore}%, Online ${s.onlineScore}%${s.isSuspended ? ' ⛔ SUSPENDED' : ''}`\n).join('\\n') || 'Unknown issue';\n\nconst embed = {\n  embeds: [{\n    title: '🔴 Storj Node Alert',\n    color: 0xff0000,\n    description: `Critical issues detected with your Storj node!`,\n    fields: [\n      { name: '⚠️ Issues', value: issues, inline: false },\n      { name: '💾 Storage', value: `${m.usedGB} / ${m.totalGB} GB (${m.usagePercent}%)`, inline: true },\n      { name: '📡 Satellites', value: `${m.satelliteCount} connected`, inline: true }\n    ],\n    timestamp: new Date().toISOString(),\n    footer: { text: `Node: ${m.nodeId}` }\n  }]\n};\n\nreturn { json: { embed } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 200],
      "id": "format-alert",
      "name": "Format Alert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[discord-webhook]",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.embed) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 200],
      "id": "discord-alert",
      "name": "Discord Alert"
    },
    {
      "parameters": {
        "jsCode": "const m = $('Parse Metrics').first().json;\n\nconst satSummary = m.satHealth.slice(0, 5).map(s => \n  `• **${s.name}**: ✅ Audit ${s.auditScore}%`\n).join('\\n') || 'No satellites';\n\nconst embed = {\n  embeds: [{\n    title: '📊 Weekly Storj Summary',\n    color: m.hasWarning ? 0xffaa00 : 0x00ff00,\n    fields: [\n      { name: '💾 Storage Used', value: `${m.usedGB} / ${m.totalGB} GB (${m.usagePercent}%)`, inline: true },\n      { name: '📤 Egress', value: `${m.egressGB} GB`, inline: true },\n      { name: '📡 Satellites', value: `${m.satelliteCount} connected`, inline: true },\n      { name: '🛰️ Satellite Health', value: satSummary, inline: false },\n      { name: '🔧 Version', value: m.version, inline: true }\n    ],\n    timestamp: new Date().toISOString(),\n    footer: { text: `Node: ${m.nodeId}` }\n  }]\n};\n\nreturn { json: { embed } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 500],
      "id": "format-summary",
      "name": "Format Summary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[discord-webhook]",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.embed) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 500],
      "id": "discord-summary",
      "name": "Discord Summary"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6 Hours": { "main": [[{ "node": "Get Node Status", "type": "main", "index": 0 }, { "node": "Get Satellites", "type": "main", "index": 0 }]] },
    "Weekly Summary": { "main": [[{ "node": "Get Node Status", "type": "main", "index": 0 }, { "node": "Get Satellites", "type": "main", "index": 0 }]] },
    "Get Node Status": { "main": [[{ "node": "Wait For Both", "type": "main", "index": 0 }]] },
    "Get Satellites": { "main": [[{ "node": "Wait For Both", "type": "main", "index": 1 }]] },
    "Wait For Both": { "main": [[{ "node": "Parse Metrics", "type": "main", "index": 0 }]] },
    "Parse Metrics": { "main": [[{ "node": "Has Critical Issue?", "type": "main", "index": 0 }]] },
    "Has Critical Issue?": { "main": [[{ "node": "Format Alert", "type": "main", "index": 0 }], [{ "node": "Format Summary", "type": "main", "index": 0 }]] },
    "Format Alert": { "main": [[{ "node": "Discord Alert", "type": "main", "index": 0 }]] },
    "Format Summary": { "main": [[{ "node": "Discord Summary", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}

