apps/log-aggregator/n8n-workflow.json
{
  "name": "Kubernetes Log Summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 200],
      "id": "999a675a-4c80-483a-8334-a6ce6d986e79",
      "name": "Daily 22:00"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen2.5:7b-instruct-q4_K_M",
          "mode": "list",
          "cachedResultName": "qwen2.5:7b-instruct-q4_K_M"
        },
        "messages": {
          "values": [
            {
              "content": "Get the cluster health status and list all alerts. Output the triage data."
            }
          ]
        },
        "simplify": false,
        "options": {
          "system": "You are a Kubernetes cluster health triage specialist.\n\nAVAILABLE TOOLS:\n- get_cluster_health(): Returns health status and top alert types with affected services\n- list_alerts(severity, limit): Returns lightweight alert list (id, alert, severity, service, namespace). Default limit=50.\n- get_alert_details(alert_id): Returns full details for one alert (pod, container, timestamps, annotations)\n\nWORKFLOW:\n1. Call get_cluster_health() to see overall status\n2. Call list_alerts(severity='critical') to get critical alerts\n3. Call list_alerts(severity='warning', limit=20) to get top warning alerts\n4. For each unique alert type, call get_alert_details(alert_id) on ONE example to get the pod name\n5. Output the triage data\n\nOutput this exact JSON structure:\n{\n  \"health_status\": \"healthy|warning|critical\",\n  \"total_alerts\": <number from get_cluster_health>,\n  \"alerts_to_investigate\": [\n    {\n      \"alert_id\": \"the id from list_alerts\",\n      \"namespace\": \"the namespace\",\n      \"pod\": \"the pod name from get_alert_details\",\n      \"alertname\": \"the alert type\",\n      \"severity\": \"critical|warning\",\n      \"service\": \"the service name from list_alerts\"\n    }\n  ]\n}\n\nRULES:\n- Use the exact data from the tool responses\n- Do NOT invent or modify any data\n- Only output JSON. No prose, no markdown, no code blocks.",
          "temperature": 0,
          "top_p": 1,
          "num_ctx": 8192,
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [-1000, 200],
      "id": "node-health-checker",
      "name": "1. Health Checker",
      "credentials": {
        "ollamaApi": {
          "id": "tM5sMEUD2xbMf8MN",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://log-aggregator.tools.svc.cluster.local:8080/mcp/",
        "options": {
          "timeout": 120000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [-1000, 400],
      "id": "mcp-health-checker",
      "name": "MCP (Health)"
    },
    {
      "parameters": {
        "jsCode": "// Parse Health Checker output and prepare for Investigator\nconst ollamaResponse = $input.first().json;\n\nlet triageData;\ntry {\n  let responseText = ollamaResponse.content || ollamaResponse.message?.content || '';\n  responseText = responseText.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\n  \n  try {\n    triageData = JSON.parse(responseText);\n  } catch {\n    const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      triageData = JSON.parse(jsonMatch[0]);\n    } else {\n      throw new Error('No JSON found');\n    }\n  }\n} catch (e) {\n  triageData = {\n    health_status: 'unknown',\n    total_alerts: 0,\n    alerts_to_investigate: []\n  };\n}\n\n// Build investigation prompt with actual alert data\nconst alerts = triageData.alerts_to_investigate || [];\nconst criticalAlerts = alerts.filter(a => a.severity === 'critical').slice(0, 5);\nconst warningAlerts = alerts.filter(a => a.severity === 'warning').slice(0, 5);\nconst priorityAlerts = [...criticalAlerts, ...warningAlerts];\n\nlet investigationPrompt = 'Investigate these alerts:\\n\\n';\nfor (const alert of priorityAlerts) {\n  investigationPrompt += `- ${alert.alertname} in ${alert.namespace}/${alert.pod || 'unknown'} (${alert.severity})\\n`;\n}\n\nif (priorityAlerts.length === 0) {\n  investigationPrompt = 'No alerts to investigate. Output empty findings.';\n}\n\nreturn {\n  json: {\n    triageData,\n    investigationPrompt,\n    alertCount: alerts.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 200],
      "id": "node-prepare-investigation",
      "name": "Prepare Investigation"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen2.5:7b-instruct-q4_K_M",
          "mode": "list",
          "cachedResultName": "qwen2.5:7b-instruct-q4_K_M"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.investigationPrompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "system": "You are a Kubernetes alert investigator.\n\nYou will receive a list of alerts to investigate. For each alert:\n1. Call get_pod_events with the namespace and pod name to see what happened\n2. Call get_pod_logs if the alert indicates a crash or error\n3. Call get_pod_metrics if the alert is about resource usage\n\nCompile your findings into this JSON structure:\n{\n  \"findings\": [\n    {\n      \"service\": \"service name (extracted from pod name, e.g. 'sonarr' from 'sonarr-abc123')\",\n      \"namespace\": \"the namespace\",\n      \"alert\": \"the alert type\",\n      \"severity\": \"critical|warning|info\",\n      \"root_cause\": \"brief description of what the logs/events show\",\n      \"key_events\": [\"important event messages\"]\n    }\n  ],\n  \"patterns\": [\"any patterns noticed across multiple alerts, e.g. 'media namespace has multiple OOM issues'\"]\n}\n\nRULES:\n- Extract service name from pod name (remove hash suffixes like -abc123, -deployment-xyz)\n- Only include findings for alerts you actually investigated\n- Do NOT invent services or data - only report what the tools return\n- If a pod has no logs or events, note that in root_cause\n- Only output JSON. No prose, no markdown, no code blocks.",
          "temperature": 0,
          "top_p": 1,
          "num_ctx": 8192,
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [-600, 200],
      "id": "node-investigator",
      "name": "2. Investigator",
      "credentials": {
        "ollamaApi": {
          "id": "tM5sMEUD2xbMf8MN",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://log-aggregator.tools.svc.cluster.local:8080/mcp/",
        "options": {
          "timeout": 180000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [-600, 400],
      "id": "mcp-investigator",
      "name": "MCP (Investigate)"
    },
    {
      "parameters": {
        "jsCode": "// Parse Investigator output and prepare for Summarizer\nconst ollamaResponse = $input.first().json;\nconst triageData = $('Prepare Investigation').first().json.triageData;\n\nlet findings;\ntry {\n  let responseText = ollamaResponse.content || ollamaResponse.message?.content || '';\n  responseText = responseText.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\n  \n  try {\n    findings = JSON.parse(responseText);\n  } catch {\n    const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      findings = JSON.parse(jsonMatch[0]);\n    } else {\n      throw new Error('No JSON found');\n    }\n  }\n} catch (e) {\n  findings = {\n    findings: [],\n    patterns: []\n  };\n}\n\n// Build summary prompt with all data\nlet summaryPrompt = `Health Status: ${triageData.health_status}\\n`;\nsummaryPrompt += `Total Alerts: ${triageData.total_alerts}\\n\\n`;\nsummaryPrompt += `Investigation Findings:\\n${JSON.stringify(findings.findings || [], null, 2)}\\n\\n`;\nsummaryPrompt += `Patterns Detected:\\n${JSON.stringify(findings.patterns || [], null, 2)}\\n\\n`;\nsummaryPrompt += `Generate the final summary report.`;\n\nreturn {\n  json: {\n    triageData,\n    findings,\n    summaryPrompt\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 200],
      "id": "node-prepare-summary",
      "name": "Prepare Summary"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen2.5:7b-instruct-q4_K_M",
          "mode": "list",
          "cachedResultName": "qwen2.5:7b-instruct-q4_K_M"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.summaryPrompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "system": "You are a Kubernetes report writer.\n\nYou will receive investigation findings from the previous analysis step. Your job is to create a clean, actionable summary report.\n\nOutput this exact JSON structure:\n{\n  \"overall_health\": \"healthy|warning|critical\",\n  \"total_alerts\": <number from the input>,\n  \"critical_issues\": [\"service (namespace): AlertType - brief root cause\"],\n  \"warnings\": [\"service (namespace): AlertType - brief root cause\"],\n  \"patterns\": [\"patterns from the findings\"],\n  \"recommendations\": [\"specific actionable recommendations based on the findings\"],\n  \"summary\": \"2-3 sentence executive summary of the cluster health\"\n}\n\nRULES:\n- Use ONLY the data from the investigation findings you received\n- Format each issue as: \"service (namespace): AlertType - brief description\"\n- Group critical_issues and warnings by severity from the findings\n- Write recommendations based on the actual root causes found\n- Do NOT invent or hallucinate any services or issues\n- If findings are empty, report healthy status with no issues\n- Only output JSON. No prose, no markdown, no code blocks.",
          "temperature": 0,
          "top_p": 1,
          "num_ctx": 8192,
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [-200, 200],
      "id": "node-summarizer",
      "name": "3. Summarizer",
      "credentials": {
        "ollamaApi": {
          "id": "tM5sMEUD2xbMf8MN",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ollamaResponse = $input.first().json;\n\nlet analysis;\ntry {\n  let responseText = ollamaResponse.content || ollamaResponse.message?.content || '';\n  \n  // Strip markdown code blocks if present\n  responseText = responseText.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\n\n  // Try to parse directly first, then fall back to regex\n  try {\n    analysis = JSON.parse(responseText);\n  } catch {\n    const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      analysis = JSON.parse(jsonMatch[0]);\n    } else {\n      throw new Error('No JSON found in response');\n    }\n  }\n  \n  // Normalize arrays\n  const normalizeArray = (arr) => {\n    if (!Array.isArray(arr)) return [];\n    return arr.map(item => {\n      if (typeof item === 'string') return item;\n      if (typeof item === 'object') {\n        const values = Object.values(item);\n        if (values.length > 0) {\n          const first = values[0];\n          if (typeof first === 'string') return first;\n          if (typeof first === 'object' && first.description) return first.description;\n          return JSON.stringify(first);\n        }\n      }\n      return String(item);\n    });\n  };\n  \n  analysis.critical_issues = normalizeArray(analysis.critical_issues);\n  analysis.warnings = normalizeArray(analysis.warnings);\n  analysis.recommendations = normalizeArray(analysis.recommendations);\n  analysis.patterns = normalizeArray(analysis.patterns);\n  \n} catch (e) {\n  analysis = {\n    overall_health: 'unknown',\n    total_alerts: 0,\n    critical_issues: ['Failed to parse AI response: ' + e.message],\n    warnings: [],\n    patterns: [],\n    recommendations: ['Check Ollama connectivity'],\n    summary: 'Analysis failed'\n  };\n}\n\nconst healthEmoji = {\n  'healthy': '✅',\n  'warning': '⚠️',\n  'critical': '🔴',\n  'unknown': '❓'\n}[analysis.overall_health] || '❓';\n\nconst today = new Date().toISOString().split('T')[0];\n\n// Build Discord embed\nconst discordEmbed = {\n  embeds: [{\n    title: `${healthEmoji} Kubernetes Daily Summary`,\n    color: analysis.overall_health === 'critical' ? 0xff0000 :\n           analysis.overall_health === 'warning' ? 0xffaa00 : 0x00ff00,\n    fields: [\n      {\n        name: '📊 Overview',\n        value: `**Alerts:** ${analysis.total_alerts || 0}\\n**Period:** ${today}`,\n        inline: true\n      },\n      {\n        name: '🏥 Health',\n        value: analysis.overall_health.toUpperCase(),\n        inline: true\n      }\n    ],\n    description: analysis.summary,\n    timestamp: new Date().toISOString()\n  }]\n};\n\nif (analysis.critical_issues?.length > 0) {\n  discordEmbed.embeds[0].fields.push({\n    name: '🔴 Critical Issues',\n    value: analysis.critical_issues.slice(0, 5).map(i => `• ${i}`).join('\\n'),\n    inline: false\n  });\n}\n\nif (analysis.warnings?.length > 0) {\n  discordEmbed.embeds[0].fields.push({\n    name: '⚠️ Warnings',\n    value: analysis.warnings.slice(0, 5).map(w => `• ${w}`).join('\\n'),\n    inline: false\n  });\n}\n\nif (analysis.recommendations?.length > 0) {\n  discordEmbed.embeds[0].fields.push({\n    name: '💡 Recommendations',\n    value: analysis.recommendations.slice(0, 5).map(r => `• ${r}`).join('\\n'),\n    inline: false\n  });\n}\n\n// Build HTML email\nconst html = `\n<h2>${healthEmoji} Kubernetes Daily Summary - ${today}</h2>\n<p><strong>Overall Health:</strong> ${analysis.overall_health.toUpperCase()}</p>\n<p><strong>Total Alerts:</strong> ${analysis.total_alerts || 0}</p>\n\n<h3>📝 Summary</h3>\n<p>${analysis.summary}</p>\n\n<h3>🔴 Critical Issues</h3>\n<ul>\n${analysis.critical_issues?.map(i => `<li>${i}</li>`).join('') || '<li>None</li>'}\n</ul>\n\n<h3>⚠️ Warnings</h3>\n<ul>\n${analysis.warnings?.map(w => `<li>${w}</li>`).join('') || '<li>None</li>'}\n</ul>\n\n<h3>🔍 Patterns Detected</h3>\n<ul>\n${analysis.patterns?.map(p => `<li>${p}</li>`).join('') || '<li>None</li>'}\n</ul>\n\n<h3>💡 Recommendations</h3>\n<ul>\n${analysis.recommendations?.map(r => `<li>${r}</li>`).join('') || '<li>None</li>'}\n</ul>\n\n<hr>\n<p><em>Generated by Kubernetes Log Summarizer</em></p>\n`;\n\nreturn {\n  json: {\n    analysis,\n    discordEmbed,\n    emailSubject: `${healthEmoji} K8s Summary: ${analysis.overall_health.toUpperCase()} - ${today}`,\n    emailHtml: html,\n    isCritical: analysis.overall_health === 'critical',\n    hasAlerts: (analysis.total_alerts || 0) > 0\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 200],
      "id": "8389e666-db8f-4509-9df2-eebae095a117",
      "name": "Format Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.discordEmbed) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 100],
      "id": "9993878c-bdf9-4b97-9953-18b6adcd5b77",
      "name": "Discord Notification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-critical",
              "leftValue": "={{ $json.isCritical }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [400, 300],
      "id": "7df34222-149f-4d85-8f15-dd96a06a84e9",
      "name": "Is Critical?"
    },
    {
      "parameters": {
        "fromEmail": "=overseerr@shadowmorph.info",
        "toEmail": "=olli@erinko.fi",
        "subject": "={{ $json.emailSubject }}",
        "html": "={{ $json.emailHtml }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [600, 300],
      "id": "b461bb4b-6766-47d4-bb9c-2698ee12baec",
      "name": "Email (Critical Only)",
      "webhookId": "d79f87df-bb07-4b9f-88ef-7ba543b107cb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://log-aggregator.tools.svc.cluster.local:8080/api/complete",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 100],
      "id": "433359eb-7e33-4750-bdeb-8bb918f6f9b5",
      "name": "Mark Complete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-alerts",
              "leftValue": "={{ $json.hasAlerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [200, 200],
      "id": "d0ceaa98-4bca-45f6-8035-5ff9da5a1986",
      "name": "Has Alerts?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"✅ Kubernetes Daily Summary\",\n    \"color\": 65280,\n    \"description\": \"No alerts recorded in the last 24 hours. All systems healthy.\",\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 400],
      "id": "6665e22b-5915-4241-9504-faf0da6a7c1e",
      "name": "Discord (No Alerts)"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 22:00": {
      "main": [
        [
          {
            "node": "1. Health Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Health Checker": {
      "main": [
        [
          {
            "node": "Prepare Investigation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP (Health)": {
      "ai_tool": [
        [
          {
            "node": "1. Health Checker",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Investigation": {
      "main": [
        [
          {
            "node": "2. Investigator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Investigator": {
      "main": [
        [
          {
            "node": "Prepare Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP (Investigate)": {
      "ai_tool": [
        [
          {
            "node": "2. Investigator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Summary": {
      "main": [
        [
          {
            "node": "3. Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Summarizer": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alerts?": {
      "main": [
        [
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord (No Alerts)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Email (Critical Only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notification": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "906aa4af-6b80-4bfa-81c7-eaae6d2bf1e3",
  "meta": {
    "instanceId": "75007051edd1ad2fbd58f37b402723f7b9822d012c2c15f3975a5ac3f9779d62"
  },
  "id": "VPovxu1g3KStu4lp",
  "tags": []
}
